 button{
    color: white;
 }
.blue {
    background:blue;
}
.red {
    background:red;
}
.green {
    background:green;
}
.yellow {
    background:yellow;
}
.orange {
    background:orange;
}
.purple {
    background:purple;    
}
.pink {
    background:pink;
}
.turquoise  {
 background:turquoise;
 }
 .gray {
    background:gray;
 }